body {
    margin: 0;
    padding: 0;
  }
  .slide {
    width: 100vw;
    height: 46vw;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
   
  }
  .one {
    background-image: url("img/repeating-vintage-paper-background.jpg");
    border: solid brown 1px;
  }
  .two {
    background-image: url("img/repeating-vintage-paper-background.jpg");
    border: solid brown 1px;
  }
  .three {
    background-image: url("img/repeating-vintage-paper-background.jpg");
    border: solid brown 1px;
  }
  .four {
    background-image: url("img/repeating-vintage-paper-background.jpg");
    border: solid brown 1px;
  }
  